@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* @layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
    background: #64748b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 50vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0f172a;
  }
} */
