@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50vh;
    background: #5e5f64;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #cdcdd2;
    border-radius: 50vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #010420;
  }
}